@use 'responsive' as *;

.cabecera {
  height: $header-height;
  background-color: var(--institutional-1);
  display: flex;
  align-items: center;
  justify-content: center;
  .cabecera__contenido {
    width: $width-content;
    .logo {
      height: 3.5rem;
    }
  }
}

@media(max-width: $large-mobile) {
  .cabecera {
    .cabecera__contenido {
      display: flex;
      justify-content: center;
    }
  }
}

@media(max-width: $medium-mobile) {
  .cabecera {
    height: $header-height-sm;
    .cabecera__contenido {
      .logo {
        height: 2.5rem;
      }
    }
  }
}