<div class="">
    <div class="p-1"></div>
    <div class="alert-content p-2">
        <span class="ml-2 alert-icon">
            <fn-icon [ico]="obtenerIcono('iAlertHexagonal')" height="2.3rem" class="color-yellow1" />
        </span>
        <span class="ml-2 text-2xl nfont-semibold color-yellow1 mpe_modal_titulo">Está a punto de salir {{ isComplaintProcess }}</span>
        <div class="ml-5 text-right">
            <span class="alert-icon cursor-pointer">
                <i class="pi pi-times" (click)="ref.close()" onKeyPress=""></i>
            </span>
        </div>
    </div>
</div>

<div class="p-4 pt-0 mt-2 ml-1">

    <div class="color-black2 lh-1-5 mpfn-roboto-regular mpe_modal_descripcion">
        Todos los datos que ha ingresado se perderán y será redirigido a la página principal. Por favor, confirme si
        desea salir del registro de verificación</div>

    <div class="flex md:flex-row justify-content-between align-items-center mt-5 mpe_modal_opciones">
        <p-button (onClick)="ref.close()" label="Cancelar"
            styleClass="p-button-lg surface-200 text-primary font-bold btn-adjust">
        </p-button>

        <p-button (onClick)="confirmExitVerification()" label="Sí, salir"
            styleClass="p-button-lg bg-secondary text-white font-semibold btn-adjust">
        </p-button>
    </div>
</div>