<div class="mt-5">
  <app-alert *ngIf="!loading" [dataAlert]="messages[0]" [cosable]="false"></app-alert>
</div>

<div *ngIf="!loading" class="mt-3">
  <div class="p-2 bg-yellow-ligth-alert mb-3">
    <div class="alert-content ml-1">
      <span class="alert-icon mpfn-fix-alert-icon">
        <i class="pi pi-exclamation-circle color-yellow"></i>
      </span>
      <span class="ml-1 mt-1 lh-1-5 mr-3">
        <span class="color-black2">
          Por tu seguridad, tienes
          <span class="text-bold">
            {{ remainingTime | date : "mm:ss" }} min</span>
          para visualizar el cargo, luego te redireccionaremos a la pantalla de
          inicio</span>
      </span>
    </div>
  </div>
</div>

<div class="p-2 text-center">
  <p class="ml-8 mr-8">
    El cargo de ingreso de denuncia que se presenta
    {{ loading ? "será" : "ha sido" }} enviado al correo
    <b>{{ email | lowercase }}</b>, y también puedes descargarlo aquí:
  </p>
</div>

<div *ngIf="!loading" class="flex justify-content-center mt-2">
  <p-button (onClick)="openPdf()" styleClass="p-button-lg surface-200 text-primary font-bold btn-adjust">
    <span> Descargar cargo de ingreso de denuncia</span>
    <span class="pi pi-download ml-3"></span>
  </p-button>
</div>

<div class="fix-separation"></div>

<p-progressBar *ngIf="procesing && loading" mode="indeterminate" styleClass="my-2"
  [style]="{ height: '6px' }"></p-progressBar>

<div class="visor-background">
  <ngx-extended-pdf-viewer
    [src]="urlPdf"
    [language]="'browser'"
    [textLayer]="true"
    [showToolbar]="false"
    [showFindButton]="true"
    [showDownloadButton]="false"
    [showPrintButton]="false"
    [enableDragAndDrop]="false"
    [height]="'100%'"
    [zoom]="'auto'"
  ></ngx-extended-pdf-viewer>
</div>

<p-toast/>

<div class="flex justify-content-between my-4">
  <p-button (onClick)="redirect(true)" [disabled]="procesing && loading" label="Volver al inicio"
    styleClass="p-button-lg surface-200 text-primary font-bold btn-adjust">
  </p-button>

  <p-button styleClass="p-button-lg bg-secondary font-semibold btn-adjust" label="Registrar nueva denuncia"
    [loading]="newComplaint" (onClick)="redirectNuevaDenuncia()" [disabled]="procesing && loading"/>
</div>
