<div class="mpfn-subtitle">{{ title }}</div>

<p class="mpfn-descripcion">
  {{ subtitle }}
</p>

<app-alert [dataAlert]="messages[0]" [cosable]="true" class="mb-4"/>

<div class="mt-4 w-full"></div>

<p-progressBar *ngIf="loading" mode="indeterminate" styleClass="my-2" [style]="{ height: '6px' }" />

<div class="visor-background">
  <ngx-extended-pdf-viewer
    [src]="urlPdf"
    [language]="'browser'"
    [textLayer]="true"
    [showToolbar]="false"
    [showFindButton]="true"
    [showDownloadButton]="false"
    [showPrintButton]="false"
    [enableDragAndDrop]="false"
    [height]="'100%'"
    [zoom]="'auto'"
  ></ngx-extended-pdf-viewer>
</div>

<div class="flex justify-content-between my-4 mpe_opciones">
  <p-button (onClick)="askToCancelComplaint()" [label]="'Cancelar denuncia'" class="mpe_opcion_1"
    styleClass="p-button-lg surface-200 text-primary font-bold btn-adjust mpfn-boton-cancelar">
  </p-button>

  <div class="ml-auto flex gap-3 mpe_sub_opciones">
    <p-button (onClick)="previousStep()" styleClass="p-button-lg surface-200 text-primary font-bold btn-adjust">
      <fn-icon [ico]="iArrowLeft" class="mr-5 mpfn-icon-size" />
      <span>{{ buttonTxt.cancel }}</span>
    </p-button>

    <p-button styleClass="p-button-lg bg-secondary font-semibold btn-adjust" [label]="buttonTxt.confirm"
      [disabled]="loading" (onClick)="nextStep()" />
  </div>
</div>
