@use 'responsive' as *;
@import url('https://unpkg.com/leaflet@1.9.3/dist/leaflet.css');
@import url('https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css');

.float-right{
  float: right;
}

.btn-adicionales{
  margin-left: -15px;
}

.btn-margin-right{
  margin-right: auto;
}

.w-input-ruc{
  width: 103% !important;
}

.p-text-denunciante{
  margin-top: -2%;
}

.mpfn-register-additional-data {
  font-family: var(--mpfn-font-roboto-bold);
  font-size: 16px !important;
}

.mpfn-origen {
  margin-top: -34px;
}

.mpfn-menor {
  margin-top: -25px;
  margin-bottom: 25px;
}

.user-added {
  width: calc(100% - 30px);
  display: flex;
  .user-added-icon {
    width: 20px;
    margin-right: 10px;
  }
  .user-added-content {
    width: calc(100% - 20px);
  }
}

.user-option {
  width: 20px;
}

.mpfn-numero-ruc {
  width: calc(100% - 60px) !important;
  &.mpfn-count {
    margin-bottom: 10px !important;
  }
}

.mpfn-search-ruc {
  margin-bottom: -5px !important;
  width: 60px;
}

@media(max-width: 767px) {
  .mpfn-origen {
    margin-top: -14px !important;
  }
  .mpfn-menor {
    margin-top: 5px !important;
    margin-bottom: 15px !important;
  }
  .mpe_datos_adicionales {
    width: 100%;
    flex-wrap: wrap;
    .mpe_registrar_datos {
      order: 2;
      width: 100%;
      margin-top: 30px;
      .mpfn-register-additional-data {
        font-size: 14px;
      }
    }
    .mpe_requiere_traductor {
      order: 1;
      width: 100%;
      margin-top: 0;
    }
  }
  .mpe_alias {
    width: 100%;
  }
}

@media(max-width: $medium-mobile) {
  .mpe_titulo_sino {
    font-size: 14px;
  }
  .user-added {
    .user-added-icon {
      margin-right: 5px;
      margin-top: 3px;
    }
    .user-added-content {
      .user-added-name {
        font-size: 12px;
      }
    }
  }
  .mpe_involucrado {
    margin-top: 12px !important;
  }
}

@media(max-width: $mobile) {
    .mpe_opciones_involucrados {
    width: 100% !important;
    flex-wrap: wrap !important;
    display: flex !important;
    p-button {
      width: 100%;
      margin-left: 0 !important;
      button {
        width: 100% !important;
      }
      &:first-child {
        order: 2;
        margin-top: 10px;
      }
    }
  }
  .mpe_opciones_sino {
    width: 100% !important;
    p-button {
      width: 50%;
      margin: 0 !important;
      button {
        width: 100% !important;
      }
      &:first-child {
        padding-left: 2.5px;
      }
      &:last-child {
        padding-right: 2.5px;
      }
    }
  }
}