@use 'responsive' as *;

:host::ng-deep {
    .pi-file-arrow-up:before {
        content: '';
        margin-left: 20px;
    }
    .pi-file-arrow-up::after {
        content: '';
        display: inline-block;
        background-image: url('../../../../../assets/images/upload-file.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        margin-left: 20px;
    }
}

@media(max-width: $medium-mobile) {
    .mpe_attachments_space {
        margin-top: 10px !important;
    }
}