<div class="prefooter__contenedor">

  <div class="prefooter__contenido">

    <h3>Denuncias en Flagrancia</h3>

    <div class="prefooter_elementos">

      <div class="prefooter__elemento">
        <h4>Fiscalía Provincial Penal de turno:</h4>
        <p>+51 944 986 524, +51 944 987 056, +51 944 985 723</p>
        <p><span>Fiscalía de Violencia Contra la Mujer y los Integrantes del Grupo Familiar de turno:</span> +51
          945305791</p>
      </div>

      <div class="prefooter__elemento">
        <h4>Fiscalía Provincial Penal de turno:</h4>
        <p><span>Miraflores:</span> +51 920 388 902</p>
        <p><span>San Isidro:</span> +51 921 814 062, +51 922 636 145</p>
        <p><span>Surquillo:</span> +51 926 132 728, +51 922 692 129</p>
      </div>

      <div class="prefooter__elemento">
        <h4>Fiscalía Provincial Penal de turno:</h4>
        <p><span>Magdalena del Mar:</span> +51 932 729 703, +51 932 728 020, +51 932 737 155</p>
        <p><span>San Borja:</span> +51 944 987 288, +51 945 306 625</p>
        <p><span>La Victoria:</span> +51 937 568 749, +51 937 561 786</p>
      </div>

      <div class="prefooter__elemento">
        <h4>Mesa de Partes Electrónica</h4>
        <p>Es parte de la Carpeta Fiscal Electrónica, que busca agilizar procesos de investigación a cargo de la
          fiscalía y forma parte de la política de modernización del Ministerio Público.</p>
      </div>

      <div class="prefooter__elemento">
        <h4>Contacto</h4>
        <p><span>Ministerio Público - Fiscalía de la Nación (Central telefónica):</span> +51 625 5555</p>
        <p><span>Línea gratuita:</span> 0 800 00 205</p>
        <p>
          <span>Página web: </span>
          <a [href]="link" rel="noopener" target="_blank">{{ link }}</a>
        </p>
      </div>

      <div class="prefooter__elemento">
        <h4>Ayuda</h4>
        <p>
          <a rel="noopener" target="_blank">
            Preguntas frecuentes
          </a>
        </p>
      </div>

    </div>

    <div class="prefooter_logos">
      <div class="prefooter_logo">
        <img [src]="logoMinisterio" alt="Logo del Ministerio Público Fiscalía de la Nación">
      </div>
      <div class="prefooter_logo">
        <img [src]="logoMesaPartes" alt="Logo de Mesa de Partes Electrónica">
      </div>
      <div class="prefooter_logo">
        <img [src]="logoCarpetaFiscal" alt="Logo de la Carpeta Fiscal Electrónica">
      </div>
    </div>

  </div>

</div>