<app-alert [dataAlert]="messages[0]" [cosable]="true" />

<div class="mpe_landing__container">

  <div class="mpe_landing__header">
    <h1>Bienvenido a la Mesa de Partes Electrónica</h1>
    <p>Aquí usted podrá presentar documentos y denuncias de hechos que ocurrieron en los distritos: Lurín, San Juan de Miraflores, Villa María, Villa el Salvador y Chorrillos. Pertenecientes al Distrito Fiscal de Lima Sur.</p>
  </div>

  <div class="mpe_landing__body">
    <div 
      class="mpe_landing__left"
      joyrideStep="presentacionDenuncia"
      title="Presentar denuncia"
      text="A través de esta opción, usted como denunciante podrá registrar un hecho delictivo del que haya sido victima o testigo. Debe tener a la mano toda la información necesaria para poder completar las solicitudes."
    >
      <div class="mpe_landing__image"></div>
      <div class="mpe_landing__info">
        <fn-icon 
          [ico]="obtenerIcono('iFileRegister')"
          height="2.5rem"
        />
        <h3>Presentación de denuncia</h3>
        <p>Reporta cualquier conducta sospechosa de la que hayas sido víctima o testigo.</p>
        <p-button 
          (onClick)="presentarDenuncia()"
          styleClass="p-button-lg w-full bg-secondary font-semibold btn-adjust flex-row justify-content-between"
        >
          <span class="mpe_boton">Presentar denuncia</span>
          <fn-icon 
            *ngIf="!loadingTracking"
            [ico]="obtenerIcono('iArrowRight')"
            class="ml-2 mpfn-icon-size-sm"
          />
          <i 
            *ngIf="loadingTracking"
            class="pi pi-spin pi-spinner ml-5"
          ></i>
        </p-button>
      </div>
    </div>
    <div class="mpe_landing__right">
      <div class="seguimiento_titulo">
        <img 
          [src]="seguimientoImage"
          alt="Seguimiento"
        >
        <h3>¿Ya realizaste una denuncia?</h3>
      </div>
      <div 
        class="consultar_caso"
        joyrideStep="consultarCaso"
        title="Consultar el caso"
        text="Con esta opción podra consultar el estado de su caso que investiga la fiscalia correspondiente. Para acceder a esta información, debe tener a la mano el número del Caso para ingresarlo."
      >
        <p>Consulta el estado de su caso</p>
        <p-button 
          (onClick)="consultarCaso()"
          styleClass="p-button-lg w-full bg-white font-semibold btn-adjust flex-row justify-content-between"
        >
          <span class="mpe_boton">Consultar el caso</span>
          <fn-icon 
            [ico]="obtenerIcono('iArrowRight')"
            class="ml-3 mpfn-icon-size-sm"
          />
        </p-button>
      </div>
      <div 
        class="presentar_documento"
        joyrideStep="presentarDocumento"
        title="Presentar documento"
        text="Finalmente, con esta opción usted podra adjuntar documentos digitales a su Caso. Estos deben haber sido solicitados por el fiscal o documentos que usted considere importantes para el apoyo a la investigación fiscal."
      >
        <p class="mt-0">Suba documentos de su caso</p>
        <p-button
          (onClick)="presentarDocumento()"
          [loading]="loadingTrackingDocument"
          styleClass="p-button-lg w-full bg-secondary font-semibold btn-adjust flex-row justify-content-between"
        >
          <span class="mpe_boton">Presentar documento</span>
          <fn-icon
            *ngIf="!loadingTrackingDocument"
            [ico]="obtenerIcono('iArrowRight')"
            class="ml-3 mpfn-icon-size-sm"
          />
        </p-button>
      </div>
    </div>
    <div class="mpe_landing__help_guide">
      <button (click)="startTour()">
        <div class="icon_help_guide"></div>
        Guía de ayuda
      </button>
    </div>
  </div>

</div>

<div class="mt-6"></div>

<app-pre-footer />