$small-mobile: 360px;
$mobile: 395px;
$medium-mobile: 545px;
$extra-medium-mobile: 640px;
$large-mobile: 720px;
$tablet: 1060px;
$tablet-large: 1216px;
$medium-laptop: 1366px;
$medium-desktop: 1440px;
$large-desktop: 1920px;

$max-screen: 1920px;
$width-content: 80%;
$width-subcontent: 87%;
$width-content-laptop: 87.5%;
$width-content-sm: 95%;

$header-height: 80px;
$header-height-sm: 50px;

$footer-height: 45px;
$footer-separation: 45px;


$font-32: 32px;
$font-24: 24px;
$font-18: 18px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;

$formulario-tablet-width: 450px;